<div class="modal-container">
  <div class="modal-header">
    <div class="header-content">
      <h2>{{ title }}</h2>
      @if (subtitle) {
        <p class="subtitle">{{ subtitle }}</p>
      }
    </div>
    <button mat-icon-button (click)="onClose()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

  @if (hasActions) {
    <div class="modal-actions">
      <ng-content select="[actions]"></ng-content>
    </div>
  }
</div>
