<!-- front-end/src/app/components/worker/components/worker-attendance/check-in-card/check-in-card.component.html -->

<div class="card">
  <p class="card__time">Check IN</p>

  <div class="card__time">time()</div>
  <div class="card__date">date()</div>

  <button
    class="btn-action btn-action--in"
    [class.btn-action--done]="checkedIn()"
    [class.btn-action--busy]="isLoading()"
    [disabled]="checkedIn() || isLoading()"
    (click)="checkIn.emit()"
  >
    @if (!isLoading()) {
      <span class="spinner"></span>
    }

    <ng-container>
      <mat-icon>logout</mat-icon>

      {{ checkedIn() ? "CHECKED IN" : "CHECK IN" }}
    </ng-container>
  </button>

  @if (location()) {
    <p class="card__location">
      <mat-icon>location_on</mat-icon>
    </p>

    {{ location() }}
  }
</div>
