.add-phase-form {
  display: block;
  padding-top: 10px;
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.w-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
